altgraph==0.17.4
attrs==23.1.0
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dearmor==0.3.1
decorator==4.4.2
Eel==0.16.0
ensta==5.0.3.8
future==0.18.3
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.4
imageio==2.33.1
imageio-ffmpeg==0.4.9
iso8601==2.1.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
moviepy==2.0.0.dev2
numpy==1.26.2
packaging==24.1
pefile==2023.2.7
Pillow==10.1.0
proglog==0.1.10
progressbar==2.5
psutil==5.9.6
pyarmor==8.4.1
pyarmor.cli.core==5.4.0
pycparser==2.21
pycryptodome==3.19.0
pydumpck==1.5.113
pygame==2.5.2
pyinjector==1.3.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.1
pyproject-toml==0.0.10
pyserial==3.5
pywin32-ctypes==0.2.2
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.6
serial==0.0.97
six==1.16.0
spark-parser==1.8.9
toml==0.10.2
tqdm==4.66.1
uncompyle6==3.7.4
urllib3==2.1.0
websockets==12.0
whichcraft==0.6.1
xdis==5.0.13
zope.event==5.0
zope.interface==6.2
